alethic-ism-core==1.0.12
alethic-ism-db==1.0.16
python-dotenv
#psycopg2
psycopg2-binary
python-multipart
restrictedpython
#redis
pyarrow
pyyaml
fastapi
pydantic
nats-py
mako
pyjwt
datasets
uvicorn
firebase-admin
starlette
openpyxl
